[submodule "src/poky"]
    path = src/poky
    url = git://git.yoctoproject.org/poky.git
    branch = kirkstone
[submodule "src/meta-intel"]
    path = src/meta-intel
    url = git://git.yoctoproject.org/meta-intel.git
    branch = kirkstone
[submodule "src/meta-raspberrypi"]
    path = src/meta-raspberrypi
    url = git://git.yoctoproject.org/meta-raspberrypi.git
    branch = kirkstone
[submodule "src/meta-virtualization"]
    path = src/meta-virtualization
    url = git://git.yoctoproject.org/meta-virtualization
    branch = kirkstone
[submodule "src/meta-security"]
    path = src/meta-security
    url = git://git.yoctoproject.org/meta-security.git
    branch = kirkstone
[submodule "src/meta-openembedded"]
    path = src/meta-openembedded
    url = git://git.openembedded.org/meta-openembedded
    branch = kirkstone
