[submodule "src/poky"]
    path = src/poky
    url = git://git.yoctoproject.org/poky.git
    branch = langdale
[submodule "src/meta-openembedded"]
    path = src/meta-openembedded
    url = git://git.openembedded.org/meta-openembedded
    branch = langdale
